name: Test Cases
on:
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "18"
      - name: install dependencies
        run: npm install

      - name: Run Tests
        run: npm test
